body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Disable scrolling */
}

.container {
    text-align: center;
}

.titel {
    margin-top: 30px;
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titel span {
    color: aquamarine;
    padding-left: 15px;
}

.reset {
    position: fixed; /* Fixed positioning */
    top: 500px; /* Position it near the top */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Offset by half its width to ensure exact centering */
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: aquamarine;
}

.boxes {
    display: flex;
    height: 120px;
    width: 120px;
    background: #1f3540;
    border: 4px solid black;
    border-radius: 12px;
    cursor: pointer;
}

.board {
    height: 600px;
    width: 564px;
    display: flex;
    margin-left: 425px;
}

.boxes img {
    margin: 25px 25px;
}

.titel img {
    padding: 12px 12px;
    height: 30px;
}
